<!DOCTYPE html>
<html th:replace="~{fragments/layouts/mainLayout :: layout(~{::title}, ~{}, ~{}, ~{::body}, ~{fragments/navbar :: navCadastros})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar nova mercadoria</title>
</head>

<body>
    

    <form action="cadastrar" method="post">
        <label for="descricao">Descrição: </label>
        <input type="text" id="descricao" name="descricao" required>

        <label for="marca">Marca: </label>
        <input type="text" id="marca" name="marca" required>

        <label for="fornecedor">Fornecedor: </label>
        <input type="text" id="fornecedor" name="fornecedor" required>

        <label for="quantidade">Quantidade de Venda: </label>
        <input type="number" id="quantidade" name="quantidade" required>
        
        <label for="unidade">Unidade de Cadastro: </label>
        <select id="unidade" name="unidade" required>
            <option selected="selected" value="UN">UN</option>
            <option value="L">L</option>
        </select>

        <label for="preco">Preço: </label>
        <input type="number" id="preco" name="preco" step="0.01" required>

        <label for="pontoSuprimento">Ponto de Suprimento: </label>
        <input type="number" id="pontoSuprimento" name="pontoSuprimento" required>

        <label for="categoria">Categoria: </label>
        <select id="categoria" name="categoria" required>
            <option selected="selected" value="COMUM">Comum</option>
            <option value="PROMOCIONAL">Promocional</option>
        </select>

        <label for="tickets">Tickets gerados: </label>
        <input type="number" id="tickets" name="tickets" min="1" required>

        <!-- <label for="corTicket">Cor do Ticket</label>
        <input type="color" name="corTicket" id="corTicket" value="#FFEE44"> -->
        
        <fieldset>
            <legend>Produto ativo?</legend>
            <input type="radio" name="status" id="statusTrue" value="1" checked>
            <label for="statusTrue">Sim</label>
            <input type="radio" name="status" id="statusFalse" value="0">
            <label for="statusFalse">Não</label>
        </fieldset>

        <input type="submit" value="Criar">
    </form>

</body>

</html>