<!DOCTYPE html>
<html th:replace="~{fragments/layouts/mainLayout :: layout(~{::title}, ~{}, ~{::script}, ~{::body}, ~{fragments/navbar :: navEstoque})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Estoque</title>
    <script src="/js/estoque.js"></script>
</head>

<body>
    
    
    <form action="cadastrar" method="post">
        
        <label for="produto">Produto:</label>
        <select id="produto" name="produto" required>
            <option value="" disabled selected>Selecione um produto</option>
            <option th:each="produto : ${produtos}"
                    th:value="${produto.id}"
                    th:text="${produto.descricao}"
                    th:data-unidade-cadastro="${produto.unidade}">Produto</option>
        </select>

        <label for="unidadeCadastro">Unidade de cadastro:</label>
        <input type="text" id="unidadeCadastro" name="unidadeCadastro" readonly required>

        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" step="0.01" required>
        
        <label for="observacao">Observação:</label>
        <input type="text" id="observacao" name="observacao" required>

        <input type="submit" value="CONFIRMAR ENTRADA">
    </form>

</body>

</html>