<!DOCTYPE html>
<html th:replace="~{fragments/layouts/mainLayout :: layout(~{::title}, ~{}, ~{}, ~{::body}, ~{fragments/navbar :: navCadastros})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Novo Usuário</title>
</head>

<body>
    

    <form action="cadastrar" method="post">

        <label for="nome">Usuário de acesso:</label>
        <input type="text" id="usuario" name="usuario" required>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="grupo">Grupo:</label>
        <select id="grupo" name="grupo" required>
            <option value="" disabled selected >Selecione o grupo</option>
            <option value="Operador">Operador</option>
            <option sec:authorize="hasRole('ROLE_SUPERVISOR')" value="Supervisor">Supervisor</option>
            <option sec:authorize="hasRole('ROLE_ADMINISTRADOR')" value="Administrador">Administrador</option>
        </select>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>

        <label for="senha">Repetir Senha:</label>
        <input type="password" required>

        <input type="submit" value="Criar">
    </form>

</body>

</html>