<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="/js/carrinhoTicktes.js"></script>
</head>

<body>

    <div th:insert="~{fragments/navbar :: nav}"></div>

    <div class="title-bar">
        <div class="centralizar">Quadro de tickets</div>
    </div>

    <div class="container-quadro-tickes">

        <div class="container-geral-tickets">

            <div th:each="produto : ${produtosAtivos}" th:class="'ticket ' + ${produto.categoria}"
                th:id="${produto.id}">
                <div><p th:text="${produto.descricao}" class="nomeProduto"></p></div>
                <div> R$ 
                    <span th:text="${produto.preco}" class="precoProduto"></span>
                </div>
                    
                <div> E: 
                    <span th:text="${#numbers.formatDecimal(produto.estoque, 1, 'POINT', 1, 'POINT')}" class="estoque"></span> 
                    <span th:text="${produto.unidade}"></span>
                    <span th:text="${produto.pontoSuprimento}" class="pontoSuprimento"></span>
                </div>
                <div><span th:text="${produto.quantidade}" class="qtdUnitaria"></div>
            </div>

        </div>

        <side>
            <div class="headerCabecalho centralizar">CARRINHO</div>
            <div id="total" class="headerCabecalho">R$ 0.00</div>
            <div id="btnCarrinho">
                <button id="btnLimpar" class="btnCarrinho">Limpar</button>
                <button id="btnFinalizar" class="btnCarrinho">Finalizar Venda</button>
            </div>
            <div id="itensCarrinho"></div>
        </side>

    </div>

    <!-- Modal de Seleção de Tipo de Venda -->
    <div id="modalTipoVenda" class="modal">
        <div class="modal-content">
            <span class="close" id="modalClose">&times;</span>
            <h2>Selecione o Tipo de Venda</h2>
            <form id="tipoVendaForm">
                <label>
                    <input type="radio" name="tipoVenda" value="pix"> PIX
                </label><br><br>
                <label>
                    <input type="radio" name="tipoVenda" value="dinheiro"> Dinheiro
                </label><br><br>
                <label>
                    <input type="radio" name="tipoVenda" value="debito"> Débito
                </label><br><br>
                <label>
                    <input type="radio" name="tipoVenda" value="credito"> Crédito
                </label><br><br>
                <button type="button" id="btnConfirmarVenda">Confirmar Venda</button>
            </form>
        </div>
    </div>

</body>

</html>