<!DOCTYPE html>
<html th:replace="~{fragments/layouts/mainLayout :: layout(~{::title}, ~{}, ~{}, ~{::body}, ~{fragments/navbar :: navVendas})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vendas</title>
</head>

<body>
    

    <table>
        <thead>
            <tr>
                <th>N° Venda</th>
                <th>Data de Venda</th>
                <th>Valor Total</th>
                <th>Modo de Pagamento</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="venda : ${vendas}">
                <td th:text="${venda.id}"></td>
                <td th:text="${#dates.format(venda.dataVenda, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td th:text="${'R$' + venda.valorVenda}"></td>
                <td th:text="${venda.modoPagamento}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>