<!DOCTYPE html>
<html th:replace="~{fragments/layouts/mainLayout :: layout(~{::title}, ~{}, ~{}, ~{::body}, ~{fragments/navbar :: navEstoque})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
</head>

<body>
    

    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Tipo</th>
                <th>Quantidade</th>
                <th>Data de cadastro</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${estoque}">
                <td th:text="${item.produto.descricao}"></td>
                <td th:text="${item.tipo}"></td>
                <td th:text="${item.quantidade + ' ' + item.produto.unidade}"></td>
                <td th:text="${item.dateConverter(item.dataCadastro)}"></td>
                <td th:text="${item.observacao}"></td>
            </tr>
        </tbody>
    </table>

</body>

</html>