<!DOCTYPE html>
<html th:replace="~{fragments/layouts/mainLayout :: layout(~{::title}, ~{}, ~{::script}, ~{::body}, ~{fragments/navbar :: navCadastros})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <script src="/js/listarUsuario.js"></script>
</head>

<body>
    

    <table>
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Nome do Usuário</th>
                <th>Grupo</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${listaUsuarios}">
                <td th:text="${usuario.usuario}"></td>
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.getHighestAuthority()}"></td>
                <td th:text="${usuario.status ? 'Habilitado' : 'Desabilitado'}"></td>
                <td>
                    <button sec:authorize="hasRole('ROLE_SUPERVISOR')" class="btnUpdate" th:data-id=${usuario.id}>Editar</button>
                    <button sec:authorize="hasRole('ROLE_ADMINISTRADOR')" class="btnDelete" th:data-id=${usuario.id}>Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>