<!DOCTYPE html>
<html th:replace="~{fragments/layouts/mainLayout :: layout(~{::title}, ~{}, ~{}, ~{::body}, ~{fragments/navbar :: navVendas})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos Vendidos</title>
</head>

<body>
    

    <table>
        <thead>
            <tr>
                <th>N° Venda</th>
                <th>Data de Venda</th>
                <th>Produto</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto : ${produtosVendidos}">
                <td th:text="${produto.idVenda}"></td>
                <td th:text="${#dates.format(produto.dataVenda, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td th:text="${produto.descricaoProduto}"></td>
                <td th:text="${produto.quantidade}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>