<!DOCTYPE html>
<html th:replace="~{fragments/layouts/loginLayout :: layout(~{::title}, ~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/estilos.css" />
    <title>Login</title>
</head>

<body>
    <div id="containerLogin">
        <form th:action="@{/auth/login}" method="post">
            <div id="loginLogo">
                <img src="/img/logo.png" alt="">
                <h1>Lager Log</h1>
            </div>

            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            
            <input type="submit" value="Entrar">
            
            <a href="signup">Primeiro Acesso</a>
        </form>
    </div>
</body>

</html>